<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    .bs-example {
      margin: 0px;

    }

    .navbar-brand {
      font-size: 20px;
      font-family: sans-serif;

    }
    nav h3{
      color: rgb(30, 30, 107);
    }
    
  </style>
</head>

<body>



     
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
          <a class="navbar-brand ms-3" href="index.html">
            <img src="{% static 'images/logo.png' %}" alt="">
            <span >
              Adward Higher Secondary School
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'common:home' %}"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'common:a_login' %}"> Admin </a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'common:t_login' %}"> Teacher </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'common:s_login' %}"> Student </a>
                </li>


              </ul>
            </div>
              
        </nav>
   

</body>

</html>
