{% extends 'teacher/base.html' %}

{% load static %}
{% block css %}

    <style>
        h1 {
            padding-top: 50px;
            text-align: center;
            font-weight: bold;

        }

        .main {
            padding-top: 50px;
            width: 1200px;
        }
        .nodata{
            color: blue;
        }
    </style>

{% endblock css %}

{% block content %}


    <h1> Leave Applications of students </h1>

    

    <div class="container-fluid main">
        <div class="row">
            <div class="col-10">

                <table class="table table-primary table-striped">
                    <tr>
                        <th>Sl. No.</th>
                        <th>Image</th>

                        <th>Name</th>
                        <th>Phone No</th>
                        <th>Teacher Name</th>
                        <th>Class</th>
                        <th>Reason for leave</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Actions</th>




                    </tr>
                    {% for i in studentleave %}
                    <form method="POST">
                        {% csrf_token %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src="{{i.student.student_profile_picture.url}}" alt="" height="100px" width="100px"></td>
                        <td>{{i.name | upper}} </td>
                        <td>{{i.student.phone_number}}</td>
                        <td>{{i.student.teacher.teacher_name}}</td>
                        <td>{{i.class_name}}</td>
                        <td>{{i.reason}}</td>
                        <td>{{i.start_date}}</td>
                        <td>{{i.end_date}}</td>
                        <td><button class="btn btn-success" name="approve" type="submit">Approve</button></td>
                        <td><button class="btn btn-danger"  type="submit" name="reject">Reject</button></td>

                        <!-- for getting the student id -->
                        <td><input class=""  type="hidden" name="student_id" value="{{i.id}}" ></input></td>



                    </tr>
                    </form>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

   

{% endblock content %}
