{% extends 'teacher/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<style type="text/css">

    a:link {
      text-decoration: none;
    }

    .order-card {
      color: #fff;
    }

    .bg-c-blue {
      background: linear-gradient(45deg, #4099ff,#597583);
    }

    .bg-c-green {
      background: linear-gradient(45deg, #2ed8b6,#597583);
    }

    .bg-c-yellow {
      background: linear-gradient(45deg, #FFB64D,#597583);
    }

    .bg-c-pink {
      background: linear-gradient(45deg, #FF5370, #597583);
    }


    .card {
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      border: none;
      margin-bottom: 30px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .card .card-block {
      padding: 15px;
    }

    .order-card i {
      font-size: 26px;
    }

  </style>

 {% endblock css %}





{% block content %}


<div class="container">
    <div class="row align-content-center">
      <div class="col-md-4">

        <a href="{% url 'teacher:view_student' %}">
          <div class="col-md-4 col-xl-6">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <h6 class="m-b-20">View student</h6>
                <h2 class="text-right"><i class="fas fa-users"></i></h2>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url 'teacher:add_student' %}">
          <div class="col-md-4 col-xl-6">
            <div class="card bg-c-green order-card">
              <div class="card-block">
                <h6 class="m-b-20">Add Student</h6>
                <h2 class="text-right"><i class="fas fa-user-plus"></i></h2>
    
              </div>
            </div>
          </div>
        </a>
        <a href="{% url 'teacher:profile' %}">
          <div class="col-md-4 col-xl-6">
            <div class="card bg-c-yellow order-card">
              <div class="card-block">
                <h6 class="m-b-20">Profile</h6>
                <h2 class="text-right"><i class="fas fa-user"></i></h2>
              </div>
            </div>
          </div>
        </a>
        
        <a href="{% url 'teacher:leaveapply' %}">
          <div class="col-md-4 col-xl-6">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <h6 class="m-b-20">Leave Apply</h6>
                <h2 class="text-right"><i class="fas fa-pager"></i></h2>
              </div>
            </div>
          </div>
        </a>
        

      </div>
    <div class="col-md-4">


      <div class="row">
        <div class="col-md-6">
          <img src="{{teacher.teacher_profile_picture.url}}" alt="" height="250px" width="250px" style="border-radius: 50%;">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-center">Mr.{{teacher.teacher_name}}</h1>        
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <a href="{% url 'teacher:change_pswd' %}">
        <div class="col-md-4 col-xl-6">
          <div class="card bg-c-pink order-card">
            <div class="card-block">
              <h6 class="m-b-20">Change Password</h6>
              <h2 class="text-right"><i class="fas fa-gear"></i></h2>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'teacher:student_leave' %}">
        <div class="col-md-4 col-xl-6">
          <div class="card bg-c-green order-card">
            <div class="card-block">
              <h6 class="m-b-20">student's leave</h6>
              <h2 class="text-right"><i class="fas fa-user-minus"></i></h2>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'teacher:timetable' %}">
        <div class="col-md-4 col-xl-6">
          <div class="card bg-c-pink order-card">
            <div class="card-block">
              <h6 class="m-b-20">Timetable</h6>
              <h2 class="text-right"><i class="fas fa-book"></i></h2>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'teacher:logout' %}">
        <div class="col-md-4 col-xl-6">
          <div class="card bg-c-pink order-card">
            <div class="card-block">
              <h6 class="m-b-20">Logout</h6>
              <h2 class="text-right"><i class="fas fa-door-open"></i></h2>
            </div>
          </div>
        </div>
      </a>
      
    </div>
  </div>
</div>

    {% endblock content %}


   
